/* Company Section Start */
.company-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.company-grid-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  width: 100%;
}

.company-box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--light-slider-color);
  border-bottom: 1px solid var(--light-slider-color);
  border-left: 1px solid var(--light-slider-color);
}

.company-box h3 {
  color: var(--primary-color);
}

.btn.company-sembols {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.company-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-right: 1px solid var(--light-slider-color);
  border-bottom: 1px solid var(--light-slider-color);
  text-align: center;
}

.company-box:nth-child(odd) {
  border-right: none;
}
.company-logo {
  padding: 1.5rem;
}

.company-slogan h2 {
  font-size: 2.5rem;
  padding: 0.6rem;
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .company-container {
    grid-template-columns: 1fr;
  }

  .company-right {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .company-grid-left {
    grid-template-columns: 1fr;
  }

  .company-box:first-child,
  .company-box .company-logo {
    grid-row: 2;
  }
}

/* Company Section Finish */
