/* Header Start */

.header {
  padding-bottom: 28px;
}

.navbar {
  padding-top: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar ul li {
  color: var(--white-color);
  font-weight: 300;
}

.navigation-items li:nth-last-child(2) {
  padding-right: 2rem;
  border-right: 1px solid var(--light-slider-color);
}

.language-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.displayMenu {
  display: none;
}

.orange-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 86.75rem;
  height: 100%;
  background-color: var(--primary-color);
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 0);
  z-index: -10;
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  .navbar ul li {
    display: none;
  }

  .displayMenu {
    color: var(--light-slider-color);
    display: block;
    margin-left: auto;
    padding-right: 1rem;
    font-size: 2rem;
  }

  .navbar.display ul {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    z-index: -10;
  }

  .navbar.display ul li {
    display: flex;
  }
  .navigation-items li:nth-last-child(2) {
    padding-right: 0;
    border-right: none;
  }
}

/* Header Finish */
