/* News Section Start */
.news {
  background: linear-gradient(to right, #fafafa 0%, #ffffff 100%);
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.news-container {
  max-width: 1700px;
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 3.75rem;
  color: var(--primary-color);
  padding-left: 1.7rem;
  padding-right: 1rem;
}

.header-btn {
  margin-right: 10rem;
}
.news-header h2 {
  font-size: 2.5rem;
}
.news-card {
  position: relative;
  overflow: visible;
  height: 100%;
}

.news-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  position: absolute;
  top: 84%;
  left: -29px;
  width: 92%;
  height: auto;
  background: var(--light-slider-color);
  z-index: 30;
  padding: 1.8vw;
  gap: 2rem;
  color: var(--text-color);
  transition: all 0.7s;
}

.news-content > a {
  padding: 2rem 2.5rem;
}

.bg-white {
  position: absolute;
  top: 80%;
  left: -1px;
  width: 90%;
  height: 175px;
  background: #ffffff;
  z-index: 10;
  clip-path: polygon(0% 0%, 0 100%, 100% 100%, 100% 0%);
}
.news-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  gap: 1rem;
  flex-shrink: 0;
}

.news-content:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.7s;
}

.news-image {
  width: 100%;
}

.news-image img {
  width: 100%;
}

.news-btn {
  background: var(--white-color, #fff);
  border: 1px solid #ddd;
  color: var(--text-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 40%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.news-btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.news-btn.prev {
  left: 27px;
}

.news-btn.next {
  right: 0;
}

.news-btn.disabled {
  opacity: 0.5;
}

.news .splide__pagination__page.is-active {
  background: #ccc;
  transform: scale(1.4);
  z-index: 1;
}

.news .splide__slide {
  padding-bottom: 120px;
}

.news .splide__arrow--prev {
  left: 2.5em;
}

@media (min-width: 2000px) {
  .news-container {
    max-width: 1800px;
  }

  .news {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .bg-white {
    height: 140px;
  }
}

@media (max-width: 1450px) {
  .news-container {
    padding-left: 5rem;
  }
}

@media (max-width: 1024px) {
  .news-container {
    padding-left: 0;
    position: relative;
    overflow: hidden;
  }
  .news-content {
    margin-left: 0.5rem;
    margin-right: 2rem;
  }

  .header-btn {
    margin-right: 0;
  }

  .news-card {
    flex: 0 0 calc(50% - 1.5rem);
  }

  .bg-white {
    width: 91%;
  }
}

@media (max-width: 768px) {
  .news-card {
    flex: 0 0 100%;
    margin-left: 1rem;
  }

  .bg-white {
    height: 140px;
  }
}
/* News Section Finish */
