* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "system-ui", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white-color);
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
