/* Stats */
.stats {
  width: 100%;
}

.stats-container {
  display: flex;
}

.square {
  flex: 1;
}
.stats-content {
  flex: 1;
}

.stats-image {
  flex: 2;
  padding-left: 1.7rem;
}

.stats-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stats-container .square,
.stats-container .stats-content {
  margin-top: 4.875rem;
}

.stats-item .value {
  display: block;
  color: var(--primary-color);
  font-size: 3.75rem;
}

@media (max-width: 1024px) {
  .stats-container {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .stats-container {
    flex-wrap: wrap;
  }

  .square,
  .stats-content {
    flex: 0 0 50%;
  }

  .stats-image {
    flex: 0 0 100%;
    padding-left: 0;
    margin-top: 2rem;
  }

  .stats-item .value {
    font-size: clamp(0.5rem, 0.1257rem + 5.988vw, 3rem);
  }
}

/* Stats Finish */
