@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "reboot.css";
@import "utils.css";
@import "header.css";
@import "hero-section.css";
@import "poster-section.css";
@import "stats-section.css";
@import "projects-section.css";
@import "company-section.css";
@import "news-section.css";
@import "footer.css";